<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Duplex Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstarp-css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// bootstarp-css -->
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
    <!--// css -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--/fonts-->
    <!-- dropdown -->
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    <!--js-->
    <!--/js-->
    <script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- slider -->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                manualControls: '#slider3-pager',
            });
        });
    </script>
    <!-- slider -->
</head>
<body>
<div id="home" class="header">
    <div class="header-top">
        <!-- container -->
        <div class="container">
            <div class="top-nav">
                <ul class="nav1">
                    <li><a href="login.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <p>Subscribe by <a href="#">RSS</a> or <a href="mailto:example@email.com">Emaiil</a> for updates!
            </div>
            <div class="clearfix"></div>
            <!-- script-for-menu -->
        </div>
        <!-- //container -->
    </div>
    <div class="container">
        <div class="header-bottom">
            <!-- container -->

            <div class="head-logo">
                <a href="index.html"><img src="{% static 'images/logo.png' %}" class="img-responsive" alt=""/></a>
            </div>
            <div class="logo-right">
                <img src="{% static 'images/468x60.gif' %}" class="img-responsive" alt=""/>
            </div>
            <div class="clearfix"></div>

            <!-- //container -->
        </div>
    </div>
    <!-- //header -->
    <!-- bg-banner -->
    <div class="container">
        <div class="bg-banner">
            <div class="banner-bottom-bg">
                <div class="banner-bg">

                    <!-- banner -->
                    <div class="banner">
                        <div class="banner-grids">
                            <div class="banner-top">
                                <span class="menu">MENU</span>
                                <ul class="nav banner-nav">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    {% for category in categories %}
                                    <li class="dropdown1"><a href="{% url 'categories:single' slug=category.slug %}">{{ category.name }}</a>
                                    </li>
                                    {% endfor %}
                                    <li class="dropdown1"><a href="archives.html">Archives</a>
                                        <ul class="dropdown2">
                                            <li><a href="lifestyle.html">Lifestyle</a></li>
                                            <li><a href="archives.html">Archives</a></li>
                                            <li><a href="fullwidth.html">Fullwidth</a></li>
                                            <li><a href="404.html">Worldnews</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown1"><a href="404.html">World News</a>
                                        <ul class="dropdown2">
                                            <li><a href="lifestyle.html">Lifestyle</a></li>
                                            <li><a href="archives.html">Archives</a></li>
                                            <li><a href="fullwidth.html">Fullwidth</a></li>
                                            <li><a href="404.html">Worldnews</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown1"><a href="contact.html">Contact</a></li>
                                </ul>
                                <script>
                                    $("span.menu").click(function () {
                                        $(" ul.nav").slideToggle("slow", function () {
                                        });
                                    });
                                </script>
                            </div>

                            <div class="ban-top">
                                <div class="col-md-6 bann-left">
                                    <div class="slider">
                                        <!-- Slideshow 3 -->
                                        <ul class="rslides" id="slider">
                                            {% for post in posts %}
                                                <li><img src="{{ post.image.url }}" class="img-responsive" alt=""></li>
                                            {% endfor %}
                                            <li><img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
                                            </li>
                                            <li><img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="">
                                            </li>
                                            <li><img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="">
                                            </li>
                                            <li><img src="{% static 'images/5.jpg' %}" class="img-responsive" alt="">
                                            </li>

                                        </ul>
                                        <!-- Slideshow 3 Pager
                                        <ul id="slider3-pager">

                                            <li><a href="#"><img src="{% static 'images/1c.jpg' %}"
                                                                 class="img-responsive" alt=""></a></li>

                                            <li><a href="#"><img src="{% static 'images/1c.jpg' %}"
                                                                 class="img-responsive" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'images/1c.jpg' %}"
                                                                 class="img-responsive" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'images/1c.jpg' %}"
                                                                 class="img-responsive" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'images/1c.jpg' %}"
                                                                 class="img-responsive" alt=""></a></li>

                                        </ul>
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-6 bann-right">
                                    <p class="comments">// Orman Clark // May 4 2015 //<a href="#"> 8 Comments</a></p>
                                    <h2><a href="{% url 'posts:single' username=posts.first.user.username slug=posts.first.slug %}">{{ posts.first }}</a></h2>
                                    <p class="text">{{ posts.first.content|truncatechars:200 }}</p>
                                    <a class="view" href="{% url 'posts:single' username=posts.first.user.username slug=posts.first.slug %}">view
                                                        more...</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="recent">
                                <ul id="flexiselDemo3">
                                    {% for post in posts %}
                                        <li>
                                            <div class="team1">
                                                <img src="{{ post.image.url }}" class="img-responsive" alt=""/>
                                                <h4>
                                                    <a href="{% url 'posts:single' username=post.user.username slug=post.slug %}">{{ post.title }}</a>
                                                </h4>
                                                <p class="comments">{{ post.created_at }}</p>
                                                <h6>{{ post.user }}</h6>
                                                <h5>{{ post.content|truncatechars:100 }}
                                                    <a class="view" href="{% url 'posts:single' username=post.user.username slug=post.slug %}">view
                                                        more...</a></h5>

                                            </div>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <div class="team1">
                                            <img src="{% static 'images/pic6.jpg' %}" class="img-responsive" alt=""/>
                                            <h4><a href="single.html">Many desktop publishing packages and web </a></h4>
                                            <p class="comments">August 4 2010, <a href="#">8 Comments</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team1">
                                            <img src="{% static 'images/pic4.jpg' %}" class="img-responsive" alt=""/>
                                            <h4><a href="single.html">There are many variations of passages of Lorem</a>
                                            </h4>
                                            <p class="comments">August 4 2010, <a href="#">8 Comments</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team1">
                                            <img src="images/30.jpg" class="img-responsive" alt=""/>
                                            <h4><a href="single.html">Latin professor at Hampden-Sydney College
                                                Virginia</a></h4>
                                            <p class="comments">August 4 2010, <a href="#">8 Comments</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team1">
                                            <img src="images/10.jpg" class="img-responsive" alt=""/>
                                            <h4><a href="single.html">The generated Lorem Ipsum is therefore always
                                                free</a></h4>
                                            <p class="comments">August 4 2010, <a href="#">8 Comments</a></p>
                                        </div>
                                    </li>
                                </ul>
                                <script type="text/javascript">
                                    $(window).load(function () {

                                        $("#flexiselDemo3").flexisel({
                                            visibleItems: 4,
                                            animationSpeed: 1000,
                                            autoPlay: false,
                                            autoPlaySpeed: 3000,
                                            pauseOnHover: true,
                                            enableResponsiveBreakpoints: true,
                                            responsiveBreakpoints: {
                                                portrait: {
                                                    changePoint: 480,
                                                    visibleItems: 1
                                                },
                                                landscape: {
                                                    changePoint: 640,
                                                    visibleItems: 2
                                                },
                                                tablet: {
                                                    changePoint: 768,
                                                    visibleItems: 3
                                                }
                                            }
                                        });

                                    });
                                </script>
                                <script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
                            </div>
                            <div class="banner-middle">
                                <!-- banner-bottom-grids -->
                                <div class="banner-bottom-grids">
                                    <!-- banner-bottom-left -->
                                    <div class="col-md-8 banner-bottom-left">

                                        <div class="banner-bottom-left-grids">
                                            {% for category in categories %}
                                                <div class="col-md-6 banner-left-grid">


                                                    <ul>
                                                        <li><h3>{{ category.name }}</h3></li>
                                                        <li class="mor">
                                                            <a class="view"
                                                               href="{% url 'categories:single' slug=category.slug %}">view
                                                                more...</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>

                                                    {% for post in posts %}

                                                        {% if post.category == category %}

                                                            <a href="single.html"><img src="{{ post.image.url }}"
                                                                                       class="img-responsive"
                                                                                       alt=""/></a>
                                                            <h4>
                                                                <a href="{% url 'posts:single' username=post.user.username slug=post.slug %}">{{ post.title }} </a>
                                                            </h4>
                                                            <p class="comments">{{ post.update_time }} <a href="#">8
                                                                Comments</a></p>
                                                            <p class="text">{{ post.content|truncatechars:150 }}</p>

                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="banner-bottom-left-grids">


                                            <div class="clearfix"></div>
                                        </div>

                                        <!-- post -->

                                        <!-- //post -->
                                    </div>
                                    <!-- //banner-bottom-left -->
                                    <!-- banner-bottom-right -->
                                    <div class="col-md-4 banner-bottom-right">
                                        <div class="banner-bottom-left-grids">
                                            <div class="search">
                                                <form>
                                                    <input type="text" value="to search, type and hit enter"
                                                           onfocus="this.value = '';"
                                                           onblur="if (this.value == '') {this.value = 'to search, type and hit enter';}"
                                                           required="">
                                                </form>
                                            </div>
                                            <div class="pro-tb">
                                                <div class="product-tabs">
                                                    <!--Horizontal Tab-->
                                                    <div id="horizontalTab">
                                                        <ul>
                                                            <li><a href="#tab-1">Popular</a></li>
                                                            <li><a href="#tab-2"> Recent</a></li>
                                                        </ul>
                                                        <div id="tab-1" class="product-complete-info">
                                                            <div class="prod">
                                                                <div class="blog-grids">
                                                                    <div class="blog-grid-left">
                                                                        <img src="{{ STATIC_URL }}images/1b.jpg"
                                                                             class="img-responsive" alt="">
                                                                    </div>
                                                                    <div class="blog-grid-right">
                                                                        <a href="single.html">Little Invaders Fly
                                                                            Fishers Serving as Transports for
                                                                            Noxious </a>
                                                                        <p class="comments">August 4 2010, <a
                                                                                href="#">8 Comments</a></p>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="blog-grids">
                                                                    <div class="blog-grid-left">
                                                                        <img src="{{ STATIC_URL }}images/2b.jpg"
                                                                             class="img-responsive" alt="">
                                                                    </div>
                                                                    <div class="blog-grid-right">
                                                                        <a href="single.html">Transports for Noxious
                                                                            Fly Fishers Serving as Little
                                                                            Invaders</a>
                                                                        <p class="comments">August 4 2010, <a
                                                                                href="#">8 Comments</a></p>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="blog-grids">
                                                                    <div class="blog-grid-left">
                                                                        <img src="{{ STATIC_URL }}images/3b.jpg"
                                                                             class="img-responsive" alt="">
                                                                    </div>
                                                                    <div class="blog-grid-right">
                                                                        <a href="single.html">Noxious Little
                                                                            Invaders Fly Fishers Serving as
                                                                            Transports for </a>
                                                                        <p class="comments">August 4 2010, <a
                                                                                href="#">8 Comments</a></p>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="blog-grids">
                                                                    <div class="blog-grid-left">
                                                                        <img src="{{ STATIC_URL }}images/4b.jpg"
                                                                             class="img-responsive" alt="">
                                                                    </div>
                                                                    <div class="blog-grid-right">
                                                                        <a href="single.html"> Noxious Little
                                                                            Invaders Fly Fishers Serving as
                                                                            Transports for</a>
                                                                        <p class="comments">August 4 2010, <a
                                                                                href="#">8 Comments</a></p>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="blog-grids">
                                                                    <div class="blog-grid-left">
                                                                        <img src="{{ STATIC_URL }}images/5b.jpg"
                                                                             class="img-responsive" alt="">
                                                                    </div>
                                                                    <div class="blog-grid-right">
                                                                        <a href="single.html">Serving Fly Fishers as
                                                                            Transports for Noxious Little
                                                                            Invaders</a>
                                                                        <p class="comments">August 4 2010, <a
                                                                                href="#">8 Comments</a></p>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="tab-2" class="product-complete-info">
                                                            <div class="prod">
                                                                {% for post in  posts %}

                                                                    <div class="blog-grids">
                                                                        <div class="blog-grid-left">
                                                                            <img src="{{ post.image.url }}"
                                                                                 class="img-responsive" alt="">
                                                                        </div>
                                                                        <div class="blog-grid-right">
                                                                            <a href="{% url 'posts:single' username=post.user.username slug=post.slug %}">{{ post.title }} </a>
                                                                            <p class="comments">{{ post.created_at }},
                                                                                <a
                                                                                        href="#">8 Comments</a></p>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Responsive Tabs JS -->
                                                    <script src="{% static 'js/jquery.responsiveTabs.js' %}"
                                                            type="text/javascript"></script>

                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $('#horizontalTab').responsiveTabs({
                                                                rotate: false,
                                                                startCollapsed: 'accordion',
                                                                collapsible: 'accordion',
                                                                setHash: true,
                                                                disabled: [4, 5],
                                                                activate: function (e, tab) {
                                                                    $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
                                                                }
                                                            });

                                                            $('#start-rotation').on('click', function () {
                                                                $('#horizontalTab').responsiveTabs('active');
                                                            });
                                                            $('#stop-rotation').on('click', function () {
                                                                $('#horizontalTab').responsiveTabs('stopRotation');
                                                            });
                                                            $('#start-rotation').on('click', function () {
                                                                $('#horizontalTab').responsiveTabs('active');
                                                            });
                                                            $('.select-tab').on('click', function () {
                                                                $('#horizontalTab').responsiveTabs('activate', $(this).val());
                                                            });

                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="sponsors">
                                                <div class="sponsors-grids">
                                                    <div class="sponsors-grid-left">
                                                        <div class="sponsors-grid">
                                                            <img src="{{ STATIC_URL }}images/125x125.gif"
                                                                 class="img-responsive" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="sponsors-grid-left">
                                                        <div class="sponsors-grid">
                                                            <img src="{{ STATIC_URL }}images/125x125.gif"
                                                                 class="img-responsive" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="lor-ip">
                                                <div class="lor-ip">
                                                    <div class="fb-page"
                                                         data-href="https://www.facebook.com/w3layouts"
                                                         data-hide-cover="true" data-show-facepile="true"
                                                         data-show-posts="false">
                                                        <div class="fb-xfbml-parse-ignore">
                                                            <blockquote cite="https://www.facebook.com/facebook"><a
                                                                    href="https://www.facebook.com/w3layouts">Facebook</a>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                    <div id="fb-root"></div>
                                                    <script>(function (d, s, id) {
                                                        var js, fjs = d.getElementsByTagName(s)[0];
                                                        if (d.getElementById(id)) return;
                                                        js = d.createElement(s);
                                                        js.id = id;
                                                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                                                        fjs.parentNode.insertBefore(js, fjs);
                                                    }(document, 'script', 'facebook-jssdk'));</script>
                                                </div>
                                                <div class="clearfix"></div>
                                                <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix
                                                    scripta patrioque scribentur, at pro</p>
                                            </div>
                                            <div class="twt">
                                                <a href="https://twitter.com/intent/tweet?button_hashtag=TwitterStories"
                                                   class="twitter-hashtag-button" data-size="large">Tweet
                                                    #TwitterStories</a>
                                                <script>!function (d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0],
                                                        p = /^http:/.test(d.location) ? 'http' : 'https';
                                                    if (!d.getElementById(id)) {
                                                        js = d.createElement(s);
                                                        js.id = id;
                                                        js.src = p + '://platform.twitter.com/widgets.js';
                                                        fjs.parentNode.insertBefore(js, fjs);
                                                    }
                                                }(document, 'script', 'twitter-wjs');</script>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- banner-bottom-right -->
                                    <div class="clearfix"></div>

                                </div>
                                <!-- //banner-bottom-grids -->
                            </div>
                        </div>
                    </div>
                    <!-- //banner -->

                </div>
            </div>
        </div>
        <div class="up-arrow">
            <div class="up-arrow-left">
                <ul>
                    <li><a href="404.html">Elements</a></li>
                    //
                    <li><a href="fullwidth.html">Full Width </a></li>
                    //
                    <li><a href="archives.html">Archives</a></li>
                    //
                    <li><a href="contact.html">Contact Form</a></li>
                    //
                    <li><a href="404.html">Another 3.0 Menu</a></li>
                </ul>
            </div>
            <div class="up-arrow-right">
                <a class="scroll" href="#home">Back to Top</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //bg-banner -->
        <div class="footer">
            <!-- container -->
            <div class="footer-grids">

                <div class="col-md-4 viewport">
                    <h3>About lorem</h3>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using

                        <span>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions will uncover many web sites still in their infancy have evolved</span>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form model text, and.
                    </p>
                </div>
                <div class="col-md-4 recent-posts footer-left">
                    <h3>Latest Posts</h3>
                    <ul>
                        {% for post in posts %}
                            <li><a href="#">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-4 footer-flick">
                    <h3>Flickr Photostream</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/w3layouts" data-hide-cover="true"
                         data-show-facepile="true" data-show-posts="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/facebook"><a
                                    href="https://www.facebook.com/w3layouts">Facebook</a></blockquote>
                        </div>
                    </div>
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                </div>
                <div class="clearfix"></div>
                <div class="copyright">
                    <p>Copyrights © 2015 Duplex All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>